h1{
    border: 2px dashed red;
    width: 50%;
    font-size: 1rem;
    padding: 0.5em;
}

body{
    width:50vw;
}

main{
    font-size: 1rem;
    background-color: aquamarine;
}

p{
    width: 40ch;
}   